$primary: #4361ee;
$secondary: #808080;
$tertiary: #2b2b2b;
$quaternary-color: #d4d4d4;
$quinary-color: #0b090a;
$senary-color: #344c5c;
$septenary-color: #74838b;
$black: #000;
$white: #fff;
